.addadmin{ position:absolute;
top:280px;
left:180px;

}
.driver{
position:absolute;
top:280PX;
left:550px;
}
.passanger{
position:absolute;
top:280PX;
left:900px;
}
.compAndReview{
position:absolute;
top:280PX;
left:1200px;
}

